[versions]
kotlin = "1.9.10"
compose = "1.5.11"
android = "8.2.2"
publish = "0.25.3"
androidx-activity = "1.8.2"
androidx-appcompat = "1.6.1"
binary-compatibility = "0.13.2"
icepdf = "7.1.3"
mpfilepicker = "3.1.0"
zoomable = "0.6.2"

[libraries]
androidx-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "androidx-activity" }
androidx-appcompat = { module = "androidx.appcompat:appcompat", version.ref = "androidx-appcompat" }
icepdf-core = { module = "com.github.pcorless.icepdf:icepdf-core", version.ref = "icepdf" }
mpfilepicker = { module = "com.darkrockstudios:mpfilepicker", version.ref = "mpfilepicker" }
zoomable = { module = "me.saket.telephoto:zoomable", version.ref = "zoomable" }

[plugins]
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-native-cocoapods = { id = "org.jetbrains.kotlin.native.cocoapods", version.ref = "kotlin" }
binary-compatibility = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref = "binary-compatibility" }
compose = { id = "org.jetbrains.compose", version.ref = "compose" }
android-library = { id = "com.android.library", version.ref = "android" }
android-application = { id = "com.android.application", version.ref = "android" }
publish = { id = "com.vanniktech.maven.publish", version.ref = "publish" }