name: Publish release

concurrency:
  group: "release"
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - 'release'

permissions:
  contents: write

jobs:
  build:
    timeout-minutes: 60
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: release
          path: "src"

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Test version
        id: version
        run: |
          cd $GITHUB_WORKSPACE/src
          version=$(cat lib/build.gradle.kts | grep -E 'version = "' | cut -d \" -f 2)
          if git show-ref --tags --quiet --verify -- "refs/tags/$version" >/dev/null; then
            echo "Git tag $version already exists, failing to publish";
            exit 1
          else
            echo "::set-output name=release_tag::$version"
          fi

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build and Maven publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_IN_MEMORY_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_IN_MEMORY_KEY_PASSWORD }}
        run: |
          cd $GITHUB_WORKSPACE/src
          ./gradlew publishToMavenLocal publishAllPublicationsToMavenCentral --no-configuration-cache --no-daemon --stacktrace

      - name: Prepare Release
        run: |
          cd ~/.m2/repository
          zip -r $GITHUB_WORKSPACE/artifacts.zip *

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.version.outputs.release_tag }}
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: artifacts.zip
